 <% provide(:title, 'Backend') %>   
      
<div class="container">
	<div class="container marketing">
    <div class='about'>
	      <h3>Backend Development</h3>
	         <br />			   		 
	        <article>
				      		<div class='mission-statement'>
				      			<p>
				      				We are equally committed to the backend as we are to the frontend development. While, as the old saying goes “People see your face first”, once you get their attention, they need to know if there is a brain behind that face. Functionality becomes the name of the game, from this point on.
						         </p>
						    </div>
		    </article><br />
	        <br />
	      		<div class='hr'></div>
	        <br />
        <div class="row"> 
	       
           <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('ruby.png', :width => "150", :height => "150", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
								   We like and use Ruby because it’s easy to pick up and use. It’s complex and yet very simple. Once you’ve learned it, you stick with it. 
								</p> 
								<p>
								  There is no nonsense in Ruby and almost anybody can read it and have some basic understanding what it’s doing. There are no semi-colons and rarely do you see any brackets or braces. 
								</p>
								<p>
								   We believe that rubyists are happier developers for this and other reasons. One of these reasons is the support of a large community that’s available to anyone having an issue with Ruby or just starting out in the language.
								</p>

				             </div>
		    </div>
		    <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
			 <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('rails2.png', :width => "150", :height => "150", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
								   We use Rails framework because we’re able to prototype, build and deploy an app in record time. Once you you’ve learned to do things the Rails way, you save yourself a lot of headaches, which translates into huge savings in terms of time and money.
								</p>
								<p>
								   Thanks to Rails' “Convention over configuration” concept, things just work right out of the box. For developers that worked with other frameworks, it might take a little time to get used to doing things the Rails way, but the payoff is substantial.
								</p>
								<p>
								    The Rails community is the broadest and most vibrant community. Anyone that works with Rails, or is new to Rails, learns from and teaches others. No matter what the issue, you always get to the bottom of it.
								</p>
	        </div>
	        <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
	       
           </div>
        </div>
    </div>
</div> 
</div>
