<% provide(:title, 'Frontend') %>   
 
 <div class="container">
 	<div class="container marketing">
    <div class='about'>
	      <h3>Frontend Development</h3>
	         <br /><br />				   		 
	        <article>
				      		<blockquote>
				      			<p>
				      				Thucydides wrote once: 'Knowledge without understanding is useless'.<br />
				      				We subscribe to this line of reasoning. That’s to say, we know our craft and use this knowledge to design interfaces that are simple, sleek, intuitive while utilizing the latest technologies, but, without the clutter that, often times, obfuscates the message that the client needs to convey.
						         </p>
						    </blockquote>
		    </article><br />
	        <br />
	      		<div class='hr'></div>
	        <br />
        <div class="row"> 
	       
           
	        <div class="span9"> 
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('html.png', :width => "280", :height => "280", :alt =>"") %> </div> 
				        </div>
						    <div class='kaption'>
						    	<p>
						    		We use HTML5 and we like it, especially with all nifty features it added, such as the new Doctype, editable content, local storage, semantic and web workers, to name a few.
						        </p>
						        <p>
						        	It goes without saying that internet explorer ignores most of these features, surprise! but all major browsers support them. However, all designers have gotten in the habit of havking their way around IE.
						        </p>
						        <p>
						        	Some developers prefer HAML because it is less verbose but, we do think that HTML is more straightforward despite its so-called verbosity. 
				            </div>
	         </div>
	         <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
			 <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('css.png', :width => "150", :height => "250", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
								   We use CSS3 because we like it: it’s sturdy, direct and and we’ve been using it for a long time. Without styling, all websites would look sad and boring. 
								</p>

								<p>
								   We welcome the new features because they allow us to do what we only dreamed of just a couple years ago.
								   All major browsers support almost all of them, except, of course, Internet Explorer, but we manage to find a workaround, as best we could.
								<p>
								   SASS, which IS an extension of CSS, is something we consider using in the future just because it might come in handy in complex projects where features, such as  nested rules, variables, mixins, selector inheritance, give us a certain flexibility.
								</p>
				            </div>
	        </div>
	        <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
			<div class="span9"> 
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('javascript.png', :width => "150", :height => "150", :alt =>"") %> </div> 
				        </div>
						    <div class='kaption'>
						    	<p>
    								 JavaScript is the glue that holds eveything together. Without it, all web pages would be static and boring.  
								</p>
								<p>
                                     After it came back from the dead, JS became so popular several libraries, such as Scriptaculous, ExtJs and jQuery, have been written to extend its functionality. 
                                </p>
								<p>
                                     We like jQuery because of its conciseness and the support of a large community.
								</p>
				            </div>
	         </div>
           </div>
        </div>
    </div>
</div> 
</div>

