<% provide(:title, 'Responsive') %>   
      
<div class="container">
	<div class="container marketing">
    <div class='about'>
	      <h3>Responsive Design</h3>
	         <br /><br />	
	          <%= image_tag 'screenshot.png' %>	
	          <br /><br />			   		 
	        <article>
				      <blockquote>
				      			
								<p>
									Rather than creating disconnected designs, each tailored to a particular device or browser, we should instead treat them as facets of the same experience. In other words, we can craft sites that are not only more flexible, but that can adapt to the media that renders them. In short, we need to practice responsive web design.
								</p>
					  </blockquote>
					  <cite>
							--Ethan Marcotte (RESPONSIVE WEB DESIGN)
					  </cite>
		    </article><br />
	        <br />
	      		<div class='hr'></div>
	        <br />
        <div class="row"> 
	       <div class="span9">
	            <div class='mission-statement'>	
			       	 <p>
		                 We do subscribe to the philosopy of Ethan Marcotte while we design. We use frameworks, such as Twitter Bootstrap and Zurb Foundation to speed up the process by laying out the main foundation to our sites and write as many @media queries as it takes to make sure our design will display in any device, no matter the size or the brand.
			       	</p>
			       	<br />
			       	<div class='dashed'></div>
			    </div>
           </div>
           <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('bootstrap.png', :width => "250", :height => "250", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
						    		Bootstrap has been so far our preferred tool. You can easily prototype an app, build the main foundation and deploy it in no time.
						        </p>
						        <p>
						        	Its compatibility with all major browsers was the main reason we adopted it as our main tool for design. But it was also its support for responsive design: You know beforehand that your design will dynamically adjust to pretty much any device. And that's a big load off. 
						        </p>
						        <p>
						        	And though some of the awesome features used by Bootstrap, such as rounded corners, box-shadows and gradients, are not supported by older browsers, it is still a remarkable tool that saves a great deal of time, not to mention that it's open source.
				                </p>
				             </div>
		    </div>
		    <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
			 <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('zurb.png', :width => "150", :height => "150", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
						    		Competition is good. Zurb follows in the footsteps of Bootstrap, but introduces new features, such as semantic in its markup, which Bootstrap has implemented in its current version. 
						        </p>
						        <p>
						        	And Although we haven't yet tried any of Zurb's JS plugins, which they claim "have been rewritten to make them better", we plan on using them in some of our next projects and see how they pan out.
						        </p>
						        <p>
						        	Another feature that differentiates Zurb from Bootstrap is the number of available templates: they have a blog template, a banner home template, a Realty template, to name a few. This could come in very handy, sometimes.
				                </p>
				             </div>
	        </div>
	        <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
	       
           </div>
        </div>
    </div>
</div> 
</div>
