<% provide(:title, 'Testing') %>   
      
<div class="container">
	<div class="container marketing">
    <div class='about'>
	      <h3>Software Testing</h3>
	        <br />	
	        <article>
				      		<blockquote>
				      			<p>
				      				Debugging sucks and testing rocks. That’s why we believe in integrated and continuous testing. We practice BDD/TDD using Cucumber/capybara and Rspec. However, we do believe there is such a thing as over-testing and we know when to draw the line.
						         </p>
						    </blockquote>
		    </article><br />
	        <br />
	      		<div class='hr'></div>
	        <br />
        <div class="row"> 
           <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('rspec1.jpg', :width => "250", :height => "250", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
						    		RSpec is a testing tool for the Ruby programming language. Born under the banner of Behaviour-Driven Development, it is designed to make Test-Driven Development a productive and enjoyable experience thanks to features, such as:
						        </p>
						        <p>
						        	<ul>
							        	<li>A rich command line program (the rspec command)</li >
										<li>Textual descriptions of examples and groups (rspec-core)</li>
										<li>Flexible and customizable reporting</li>
										<li>Extensible expectation language (rspec-expectations)</li>
										<li>Built-in mocking/stubbing framework (rspec-mocks)</li>
								    </ul>
						        </p>
						        <!-- <p>
						        	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				                </p> -->
				             </div>
		    </div>
		    <div clahttp://ecx.images-amazon.com/images/I/51CJg3LarTL._BO2,204,203,200_PIsitb-sticker-arrow-click,TopRight,35,-76_AA278_PIkin4,BottomRight,-69,22_AA300_SH20_OU01_.jpgss="span9">	
			<div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
			</div>
			 <div class="span9">
				    	<br /> 
				        <div class='image-wrapper'>     
				               <div><%= image_tag('cucumber.png', :width => "150", :height => "150", :alt =>"") %> </div> 
				        </div>
				        <!-- <header class='visibility'><header>Adam Raouki</header> -->
				        <!-- div class='verdashed'></div> -->
						    <div class='kaption'>
						    	<p>
						    		Cucumber offers a higher level of abstraction and integrates well with Rspec. Besides been called  BDD, It is also called SDD (Story Driven Development) because if starts with a story, describes the features that drive it and how they should behave, all in plain text.
						        </p>
						        <p>
						        	Following this process, We implement the features in Cucumber first, watch them turn red, when they fail, implement the code to make them turn green when they pass, and repeat the same process for the other featues.
						        </p>
						        <!-- <p>
						        	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
				                </p> -->
				             </div>
	        </div>
	        <div class="span9">	
				    <div class='dashed'></div>
				    <br />
			</div>
	       
           </div>
        </div>
    </div>
</div> 
</div>


