<% provide(:title, 'Videoshelf' ) %>

<div class="container marketing">	
	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="media-unit">
        <h3>Screencasts</h3><br />
        <p>
        	These are some of the screencasts that we looked at, used, are using or intend to use in the near future. They shed some light on some of the topics that relate to both frontend and backend developments, including web design, Ruby, Rails, HTML, CSS, Javascript and Mobile Development. The material is veratile and some of it will appeal to beginners and some of it to a more advanced audience.
        </p>
        <p>
            Please note that we don't get paid for advertising these videos. We simply want to share them with whom might be interested and we hope you’ll find some or all of them useful. They're in no particular order and there was no specific criteria used to sort them out. More videos will be posted as they become available.
        </p>
        <!-- <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
     </div>  
     <div class="span9"> 
       	<div class='videos'>
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							   <!-- <div> <video class='movie' width="260" height="215" controls="controls"><source src='http://youtu.be/ra8Q0M3DJYk'/> </div>   -->
							  <div> 
							  	   <p>
							  	   	   <iframe title="BerkeleyX: CS169.1x Software as a Service" src="//www.youtube.com/embed/Fr-B4xHZRzY" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  			     			
					            <div class="caption">
						              <h5>BerkeleyX Software as a Service 1</h5><br />
						              <p>
						              	This is a recording of Saas 1 offered by and at Berkley, last year, free under MOOC. Instructors Dave and Armando demonstrate how Saas is implemented through Rails. You have to commit to the course to suceed. There isn’t a dull moment in this course.
                                      </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="BerkeleyX: CS169.2x Software as a Service" src="//www.youtube.com/embed/_vJfPEXlYIo?list=PLzeC6PvwVZ_43YAOJMRatvtMoUVlL2qF6" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>BerkeleyX Software as a Service 2</h5><br />
				              <p>
				              	This is a recording of Saas 2. This is a more advanced course and you need to watch Saas 1 to follow along, unless your skills are advanced. Like its predecessor, this course requires the same level of commitment if you were to succeed. 

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>		  	
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Efficient Rails Test Driven Development" src="//www.youtube.com/embed/ra8Q0M3DJYk" width="260" height="215" frameborder="0">
							  	   	   </iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Rails Test Driven Development</h5><br />
				              <p>
				              	This is a series of 6 videos by Marakana, which means the recording quality is excellent. Arnold Wolfram walks you through the phases of a Rails app dev, but the emphasis in on TDD. Theough a little dated, the information is still relevant.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Intro to Ruby on Rails 3 - Installation" src="//www.youtube.com/embed/InuzhKLUA1Y" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Intro to Ruby on Rails 3 - Installation</h5><br />
				              <p>
				              	This is an excellent series of lectures offered by instructor Dave Jones at Spokane Community College. Don’t be fooled by the word community. The material is excellent, especially if you’re new to Rails. One shortcoming: no homework is available.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
		 			    <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Learn Ruby: Creating a Blog application in Rails 3.2" src="//www.youtube.com/embed/PUHmX18Zmyk?list=PL446512F0C1A9414B" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Creating a Blog application in Rails 3.2</h5><br />
				              <p>
				              	This is an excellent screencast by John Ash from k3integrations. If you’ve never built a blog app in Rails and you want to go beyond the basics that we often see in the “15 minutes blog app tutorials”, then, this is the screencast for you. 

				              </p>
				  
				            </div>
				          </div>
				        </li>
					</ul>
		     
		     <hr />
		     <div>   
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							<div> 
							  	   <p>
							  	   	   <iframe title="Rails Engines Patterns by Andy Maleh" src="//www.youtube.com/embed/pm94BsoMGik" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	                			     			
					            <div class="caption">
						              <h5>Rails Engines Patterns</h5><br />
						              <p>
						              	Rails engines are becoming more & more popular: they allow for customization without affecting the main app. Andy Maleh from Groupon shows you how to do that and how to leverage their reusability and flexibility without sacrificing maintainability.
						              </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Rails Conf 2013 Creating Mountable Engines by Patrick Peak" src="//www.youtube.com/embed/s3NJ15Svq8U" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Creating Mountable Engines</h5><br />
				              <p>
				              	Another screencast about Rails Engines. Patrick Peak from peakpg demonstrates how to create your own engines that can interact with each other by extending each other’s behaviour and with the main app they’re mounted to while sharing the same resources.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>		  	
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Boston Ruby - Kevin Incorvia - Rails Engines" src="//www.youtube.com/embed/i1dwALHWjeM" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Rails Engines</h5><br />
				              <p>
				              	In this talk on Rails::Engine you will become a Rails mechanic by learning how Rails::Engine, Rails::Application, and Rails::Railtie interact, giving you much of the power you associate with Rails. Blueprint in hand, the speaker will cover typical Rails::Engine setups ...
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
		 			    <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="GoGaRuCo 2012 - Writing a Rails Engine by Erik Michael-Ober" src="//www.youtube.com/embed/Rvxcc46fox0" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Writing a Rails Engine</h5><br />
				              <p>
				              	This video gives a history of how Rails Engines came to be. Then, it shows you how to write an engine from scratch or convert an existing plugin to one and when to factor pieces of your existing Rails application code into an engine for reuse across multiple apps.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="A Big Nerd Ranch Tech Talk: Rails Engines" src="//www.youtube.com/embed/K3rhvcMiPNg" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Rails Engines</h5><br />
				              <p>
				              	This is a hands-on screencast that shows you how to write a Rails engine by actually writing one while demonstrating how easy it is to share a Rails application or a subset of its functionality with other applications with a Rails engine. There isn't a dull moment in this screencast.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
					</ul>
		     
		     <hr />
		     <div>   
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							<div> 
							  	   <p>
							  	   	   <iframe title="Introduction to Git with Scott Chacon of GitHub" src="//www.youtube.com/embed/ZDR433b0HJY" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	           			     			
					            <div class="caption">
						              <h5>Introduction to Git</h5><br />
						              <p>
						              	This talk shows you how to use Git to do the basics, while seeing how it differs from Subversion, what staging and committing actually look like, how it stores its data, branches and merges and talks to a server when pushing and fetching.
						              </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Front End Development Techniques for the Modern Web" src="//www.youtube.com/embed/pV9Jh1zQWPQ" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Front End Development Techniques</h5><br />
				              <p>
				              	In this pretty recent talk (2013),  Darcy Clarke, a frontend developer and designer, touches on some of the most significant changes and emerging APIs in HTML, CSS and JavaScript that have impact on your workflow now and in the future.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				         </li>
		 			     <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Front-end Tools for the Young Developer" src="//www.youtube.com/embed/5_nt5qV15po" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Front-end Tools for the Young Developer</h5>
				              <p>
				              	This is another excellent Marakana screencast that gives the new developer a variety of tools that can prove to be useful and make life a little easier. Tools, such as: LiveLoad, SublimeText, Travis, all of which we use on a daily basis.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Introduction to Ruby - Day 1 - Rubymine setup - Hello World" src="//www.youtube.com/embed/1lgu_l4oe8c" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Intro to Ruby - Day 1</h5><br />
				              <p>
				              	Another great series of screencasts by Dave Jones from SCC where the Ruby language takes center stage all the way through the entire course. Although we’re not big fans of IDES, we still think the course is excellent, especially for beginners.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Ruby II - Regular Expression Review - Lecture 1" src="//www.youtube.com/embed/flJQ787S-4A" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Ruby II - Regular Expression Review </h5><br />
				              <p>
				              	This is the second course on Ruby by Dave Jones from Spokane Comuunity College. To follow along, you need to watch the first course, offered in the first quarter. It's a little more advanced, as you might expect. The focus is on Regular expressions.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
					</ul>
		     
		     <hr />
		     <div>   
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							<div> 
							  	   <p>
							  	   	   <iframe title="Rails 4.0 Tour" src="//www.youtube.com/embed/gfiOSv3yr8I" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	          			     			
					            <div class="caption">
						              <h5>Rails 4.0 Tour</h5><br />
						              <p>
						              	Andy Lindeman gives us a whirlwind tour of Rails 4.0. Some of the coolest parts: Routing concerns, Extraction of activeresource, ActiveRecord::Relation changes and improvements, Removal of plugin support, Removal of Rails 2 finder syntax and more.
						              </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				         </li>
		 			     <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Intro to Mobile Development I - SASS and PHPStorm Setup" src="//www.youtube.com/embed/-7nokndHD3Y" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Intro to Mobile Development I</h5><br />
				              <p>
				              	Another series by Dave Jones from SCC about Mobile development. It covers topics, such as Responsive Web Design, JQuery, JQuery Mobile, and finally using these techniques to build a "native" mobile app using the Titanium Appcelerator system.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>		  	
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Intro to Android - Android Bootcamp Series 2012" src="//www.youtube.com/embed/5RHtKIo_KDI" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Android Bootcamp Series 2012</h5><br />
				              <p>
				              	In this first video tutorial from Android Bootcamp Series 2012, Marko Gargenta is going to prime you for Android dev. He'll start with a brief history of the platform, talk about the different versions of Android, and wrap up with a few notes on Add-ons.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Responsive Design Workflow" src="//www.youtube.com/embed/6e3m9qRj67o" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Responsive Design Workflow</h5><br />
				              <p>
				              	Stephen explores a content-based approach to design workflow 'not fixed-width Photoshop comps and overproduced wireframes'. You'll learn how to avoid being surprised by the realities of multiplatform websites ...
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Modernizr" src="//www.youtube.com/embed/n0q0kwiIPSY" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Modernizr</h5><br />
				              <p>
				              	Modernizr is an open-source JavaScript library that helps you build the next generation of HTML5 and CSS3-powered websites. In this video, Faruk Ates, one of the creators is going to tell you what it is, what it does, and why you should use it.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				</ul>
		     </div>
		     <hr />
		     <div>   
		 		<ul class="thumbnails">
		 				<li class="span3">
				            <div class="thumbnail">
							<div> 
							  	   <p>
							  	   	   <iframe title="Seattle Ember.js Meetup -- 6th December 2012 (1 of 4)" src="//www.youtube.com/embed/_6yMxU-_ARs" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	                  			     			
					            <div class="caption">
						              <h5>Ember.js</h5><br  />
						              <p>
						              	Ember.js is another framework for creating web applications.Tom Dale discusses Ember Data at the Seattle Ember.js Meetup on December 6, 2012, hosted by Avalara. How similar or how different is it to/from Rails? You’ll be the judge.
						              </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Rails Conf 2013 Simple and Elegant Rails Code with Functional Style" src="//www.youtube.com/embed/glU_I3Xiooc" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Simple and Elegant Rails Code</h5><br />
				              <p>
				              	Attila Domoko attempts to show you how you can craft simple and beautiful Rails applications by adopting ideas inspired by functional programming, thereby constructing tiny classes and functions that you can use to build up a complex system.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>		  	
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Rails Conf 2013 BDD and Acceptance Testing with RSpec & Capybar" src="//www.youtube.com/embed/BG_DDUD4M9E" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>BDD and Testing with RSpec & Capybara</h5>
				              <p>
				              	In this session, Sam-Bodden talks about how testing can be used for specifying your application yet to be developed expected behavior and as accurate, running documentation that can be used to validate your stakeholder's acceptance criteria. 
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="TDD Pairing Session 1 with Raymond Lim and Roy Osherove" src="//www.youtube.com/embed/xX9hfPkA800" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>TDD Pairing Session</h5>
				              <p>
				              	Though this screencast is not set up in a Rails environment, it is valuable in the sense that it shows a real life pair programming session where Roy Osherove pairs up with Raymond Lim to do the first part of a Go - Game while they go through multiple trial and error.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="1.Test-Driven Development in Ruby - First Steps - Introduction" src="//www.youtube.com/embed/Mcwz3PZCIUg?list=PLVBFw0Pn9e9IduDzgOx7Yoh0ur7SZa7hu" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Test-Driven Development in Ruby</h5>
				              <p>
				              	This screencast will teach you how to use Rspec, in conjunction with several other tools, such as Spork, Guard, Capybara, and Cucumber to program in Ruby using TDD. It'll also show you how to use a variety of helpful techniques and talks about stubs and mocks.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
							</ul>
		     </div>
		     <hr />
		     <div>   
		 		<ul class="thumbnails">
				        <li class="span3">
				            <div class="thumbnail">
							<div> 
							  	   <p>
							  	   	   <iframe title="Ruby Metaprogramming Tutorial - Part 1 - Send Method" src="//www.youtube.com/embed/kNpcaaL_dZA" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	                			     			
					            <div class="caption">
						              <h5>Ruby Metaprogramming Tutorial</h5><br />
						              <p>
						              	In this series, Matt Topas, gives his genuine explanation of Ruby Metaprogramming. Not being rehearsed is what makes this interesting: One gets to follow the author’s line of reasonng as hes explains the intricacies of the subject at hand.

						              </p>
						              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
					            </div>
				            </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="The Intro to Rails Screencast I Wish I Had" src="//www.youtube.com/embed/cMcEgOPza8A" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Rails Screencast I Wish I Had</h5><br />
				              <p>
				              	This is a screencast by nettuts where the author takes you through the process of building a simple Rails app without using Rails scaffolding and writing the code from scratch to make a point, and using Rspec for testing and Guard for automation.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>		  	
				        <li class="span3">
				          <div class="thumbnail">
				           <div> 
							  	   <p>
							  	   	   <iframe title="Ruby on Rails Tutorial Part 1 - Getting Started" src="//www.youtube.com/embed/UQ8_VOGj5H8" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Ruby on Rails Tutorial</h5><br />
				              <p>
				              	This is another series where the author writes a Rails blog app from scratch. It’s perfect for those who are just starting out in Rails. You’ll learn about models, controllers and routing. You’ll also learn how to use the Rails console to create and update data.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="An Introduction to Procs, Lambdas and Closures in Ruby" src="//www.youtube.com/embed/VBC-G6hahWA" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Ruby's Procs, Lambdas and Closures</h5><br />
				              <p>
				              	Cooper Press, the publisher of “Ruby Weekly” gives an insight on Ruby procs, lambdas and closures. You’ll learn how little things can make a big difference in your code. This is also a refresher for those who forgot what procs, lambdas and closures do.

				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				        <li class="span3">
				          <div class="thumbnail">
				            <div> 
							  	   <p>
							  	   	   <iframe title="Ruby's Symbols Explained" src="//www.youtube.com/embed/mBXGBbEbXZY" width="260" height="215" frameborder="0"></iframe>
							  	   </p> 
							  </div>  	
				            <div class="caption">
				              <h5>Ruby's Symbols Explained</h5><br />
				              <p>
				              	This is another video by Cooper Press, the publisher of not only “Ruby Weekly”, but also “Html Weekly” and "Javascript Weekly", that explains what symbols are, what we can do with them and what the difference is between them and variables.
				              </p>
				              <!-- <p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p> -->
				            </div>
				          </div>
				        </li>
				</ul>
		     </div>
		</div>	
    </div> 
 </div>
</div>
</div>