<% provide(:title, 'Comment' ) %>

<div class="container">   
            <div class="span3">                
                    <div class="signup">
                        <div class='sup'> 
							<h3>Editing post</h3><br />

							<%= render 'form' %>

							<%= link_to 'Show', @post %> |
							<%= link_to 'Back', posts_path %>
                        </div>
                   </div>
            </div>
</div>