<% provide(:title, 'New' ) %>

<div class="container">   
	<div class="container marketing">
            <div class="span3">                
                    <!-- <div class="signup"> -->
                        <div class='sup'> 

								<h1>New post</h1>

								<%= render 'form' %>

								<%= link_to 'Back', posts_path %>
						</div>
                   <!-- </div> -->
            </div>
    </div>
</div>