
/******************************
 *                            *
 *     bootCustom.css         *
 *                            *
 ******************************/

 

/**
--------------------------------------------------
|                  GLOBAL STYLES                 |
-------------------------------------------------- 
**/
    /* Padding below the footer and lighter body text */

body {
 padding-bottom: 40px;
 color: #5a5a5a;
 overflow-x: hidden;
}
 a:hover,
 a:focus {
  color:none;
  text-decoration: none;
}

a.thumbnail:hover,
a.thumbnail:focus {
  /*border-color: #0088cc;*/
  /*webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
     -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
          box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);*/
}

.span22 {
  width: 100%;
}

.thumbnail .caption h4 {
  font-family: Droid Serif;
}

/*.alternate-nav {
  display: none;
  visibility: hidden;
}*/

/**
---------------------------------------------------
|           HEAD, TITLE & LOGO                    |
--------------------------------------------------- 
**/

.container5 {
  width: 100%;
  height: 90px;
  margin-top: 80px;
  margin-bottom: auto;
  padding-top: 50px;
  *zoom: 1;
  /*background: #333333;
  background: rgba(0, 0, 0, 0.75);*/
  background-image: url(bgd/bgd46.jpg);
  -webkit-box-shadow: -1px -4px 20px rgba(118, 123, 134, 0.47);
  -moz-box-shadow:    -1px -4px 20px rgba(118, 123, 134, 0.47);
  box-shadow:         -1px -4px 20px rgba(118, 123, 134, 0.47);
}  

.title  h3 > span {
  margin-bottom: -40px;
  margin-top: 60px;
  padding-top: 75px;
  font-size: 23pt;
  font-family: Droid Serif, Helvetica, sans-serif;
  text-align: center;
  /*color: #3bce3b;*/
}

.title h4 {
  margin-bottom: 10px;
  padding-top: 27px;
  font-size: 12pt;
  font-family: Droid Serif, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  display: none;
}

.title  p {
  width: 250px;
  height: 200px;
  border: solid 3px white;
  background-color: red;
  margin-top: 200px;
  margin-left: 1150px;
  margin-bottom: -30px;
  padding-top: 61px;
  font-size: 12pt;
  font-family: Droid Serif, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
  display: none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
}


/*.title img {
  margin-left: 1250px;
  margin-top: 20px;
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
*/
.title a:hover {
  opacity: .5;
  text-decoration: none;
}

.logo {
  width: 150px !important;
  height: 50px;
  margin-left: 42%;
  padding: 10px 8px 10px 12px;
  background-color: orange;
  /*border: solid 3px white;*/
  font-family: Droid Serif;
  font-size: 30pt;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-border-radius: 2px 2px 2px 2px;
  border-radius: 2px 2px 2px 2px;
}

 /**
 -------------------------------------------------
 |         CUSTOMIZE THE NAVBAR                  |
 ------------------------------------------------- 
 **/

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 20px;
 /* margin-bottom: -90px; */ /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-left: -210px;
}

.row-fluid  {
  display: inline-block;
  float: left;
  width: 100%;
  height: 90px;
  margin-top: -20px;
  margin-bottom: 50px;
  background-image: url(bgd/bgd46.jpg);
  /*margin-left: 2.127659574468085%;
  margin-left: 2.074468085106383%;*/
  /*-webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;*/
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
     -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
          box-shadow: 0 2px 10px rgba(0,0,0,.25);
          /*border: solid 5px green;*/
}

.navbar .nav {
  padding-left: 38%;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  background-color: blue;   
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
  margin-top: 25px;
}

.nav {
  width: 100%;
  background-color: blue;
  margin-top: -50px;
}

.nav > li {
 
}

.nav > li > a {
  margin-top: 15px;
  display: inline;
  padding-left: 50px;
  padding-right: 50px;
  /*color: #FFFAFA;*/
}

.nav .divider-vertical {
  padding-top: 30px;
}

/* rules for iPad in landscape orientation */
@media only screen and (device-width: 768px) and (orientation: landscape) {
  .navbar .nav {
  padding-left: 30%;
  }
}

/* Downsize the brand/project name a bit */
.navbar .brandy {
  padding: 25px 20px 16px;  /*Increase vertical padding to match navbar links */
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  background-color: #FFA500;
  visibility: hidden;
}

/* iPhone, Android rules here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .navbar .brandy {
    visibility: visible;
  }
  .nav > span {
    visibility: hidden;
  }
  .navbar .btn-navbar {
  margin-top: 35px;
  }
  .row-fluid  {
    margin-top: 1px;
  }
  .navbar .brandy {
    visibility: hidden;
  }

  .nav > span {
    margin-left: -300px;
  }
}

    /**
    --------------------------------------------------
    |          FRONTPAGE CSLIDER                     |
    --------------------------------------------------
    **/

  .bigbutton {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #ffaa22;
  display:inline-block;
  color:#333333;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
}
.bigbutton:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
  background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
  background-color:#ffab23;
}
.bigbutton:active {
  position:relative;
  top:1px;
}

.bigbutton2 {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
  box-shadow:inset 0px 1px 0px 0px #fab3ad;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
  background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
  background-color:#fa665a;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d83526;
  display:inline-block;
  color:#ffffff;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #98231a;
}
.bigbutton2:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
  background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
  background-color:#d34639;
}
.bigbutton2:active {
  position:relative;
  top:1px;
}

.bigbutton3 {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ee97fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ee97fe;
  box-shadow:inset 0px 1px 0px 0px #ee97fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #da3df6), color-stop(1, #b51ed0) );
  background:-moz-linear-gradient( center top, #da3df6 5%, #b51ed0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#da3df6', endColorstr='#b51ed0');
  background-color:#da3df6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #d133ed;
  display:inline-block;
  color:#ffffff;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #b115cd;
}
.bigbutton3:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b51ed0), color-stop(1, #da3df6) );
  background:-moz-linear-gradient( center top, #b51ed0 5%, #da3df6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b51ed0', endColorstr='#da3df6');
  background-color:#b51ed0;
}
.bigbutton3:active {
  position:relative;
  top:1px;
}

.bigbutton4 {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #caefab;
  -webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
  box-shadow:inset 0px 1px 0px 0px #caefab;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
  background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
  background-color:#77d42a;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #268a16;
  display:inline-block;
  color:#306108;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #aade7c;
}
.bigbutton4:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
  background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
  background-color:#5cb811;
}.bigbutton4:active {
  position:relative;
  top:1px;
}

.bigbutton5 {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  -webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
  box-shadow:inset 0px 1px 0px 0px #97c4fe;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #1e62d0) );
  background:-moz-linear-gradient( center top, #3d94f6 5%, #1e62d0 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
  background-color:#3d94f6;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #337fed;
  display:inline-block;
  color:#ffffff;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #1570cd;
}
.bigbutton5:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1e62d0), color-stop(1, #3d94f6) );
  background:-moz-linear-gradient( center top, #1e62d0 5%, #3d94f6 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
  background-color:#1e62d0;
}
.bigbutton5:active {
  position:relative;
  top:1px;
}

.bigbutton6 {
  margin-top: 290px; /*depends on p height*/
  margin-left: 250px;
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7ff05), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #f7ff05 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7ff05', endColorstr='#dfdfdf');
  background-color:#f7ff05;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:#777777;
  font-family:arial;
  font-size:20px;
  font-weight:bold;
  padding:12px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffffff;
}
.bigbutton6:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #f7ff05) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #f7ff05 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#f7ff05');
  background-color:#dfdfdf;
}
.bigbutton6:active {
  position:relative;
  top:1px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
  margin-bottom: 60px;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
}

.carousel .item {
  height: 500px;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

.carousel-caption {
  background-color: transparent;
  position: static;
  max-width: 550px;
  padding: 0 20px;
  margin-top: 200px;
}
.carousel-caption h1,
.carousel-caption .lead {
  margin: 0;
  line-height: 1.25;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.carousel-caption .btn {
  margin-top: 10px;
}
*/
    

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .span4 {
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .span4 p {
  margin-left: 10px;
  margin-right: 10px;
}


    /* Featurettes
    -----------------------------------------------*/

.featurette-divider {
  margin: 20px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



    /* RESPONSIVE CSS
    -------------------------------------------------- */

 @media (max-width: 979px) {

  .container.navbar-wrapper {
    margin-bottom: 0;
    width: auto;
  }
  .navbar-inner {
    border-radius: 0;
    margin: -20px 0;
  }

  .carousel .item {
    height: 500px;
  }
  .carousel img {
    width: auto;
    height: 500px;
  }

  .featurette {
    height: auto;
    padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
    display: block;
    float: none;
    max-width: 40%;
    margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
    margin: -20px;
  }

  .carousel {
    margin-left: -20px;
    margin-right: -20px;
  }
  .carousel .container {

  }
  .carousel .item {
    height: 300px;
  }
  .carousel img {
    height: 300px;
  }
  .carousel-caption {
    width: 65%;
    padding: 0 70px;
    margin-top: 100px;
  }
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption .lead,
  .carousel-caption .btn {
    font-size: 18px;
  }

  .marketing .span4 + .span4 {
    margin-top: 40px;
  }

  .featurette-heading {
    font-size: 30px;
  }
  .featurette .lead {
    font-size: 18px;
    line-height: 1.5;
  }

}
    
.headers {
   width: auto;
   height: auto;
   position: relative;
   margin-top: -1px;
   margin-left: 0;
   margin-right: 0;
   padding: 10px 20px;
   background-color: #8B0000;
}

.headers h2 {
  font-family: Droid Serif, serif;
  font-size: 20pt;
  color: white;
  text-align: center;
}

.headers p {
  width: 300px;
  height: auto;
  margin:auto;
  font-family: Droid Serif, serif;
  font-size: 16px;
  line-height: 2.5em;
  color: white;
  display:none;
  text-align: center;
}

/* iPhone, Android rules here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .headers p {
    height: auto;
  }

}

.advert img {
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.advert  img:hover {
  border: 5px solid #008080;
}

.thumbnail2 {
  width: 270px;
  display: block;
  padding: 5px;
  margin-top: 20px;
  line-height: 1;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}


/* ABOUT PAGE 
-----------------------------------------------------------*/

.about  {
  width: auto;
  height: auto;
  margin-top: 92px;
 /* margin-top: 220px;
  /margin-left: 85px;
  border: solid .5px;*/
  padding: 45px;
  background-color: #F5F5F5; /*WhiteSmoke*/
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.about h3 {
  font-family: Droid Serif, sans-serif;
  color: #993333;
  text-transform: uppercase;
}

.mission-statement p {
  width: auto;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 25px;
  position: relative;
  font-family: Droid Serif, sans-serif;
  font-size: 16px;
  font-style: italic;
  color: #383838;
}

.about article {
  font-family: Droid Serif, sans-serif;
  font-size: large;
  line-height: 150%;
}

.hr {
  width: 100%;
  height: 5px;
  background-color: #333333;
}

.dashed {
  width: 100%;
  border:dashed #aaa; 
  border-width:1px 0 0 0; 
  height: 0;
  line-height:0px;
  font-size:0;
  margin:0;
  padding:0;
}

.kaption {
  width: auto;
  height: auto;
  margin-left: 180px;
  margin-top: -170px;
  padding: 5px;
}

.kaption p {
  font-family: Droid Serif, sans-serif;
  font-size: 16px;
  font-style: italic;
  width: auto;
  margin-left: -40px;
  /*margin: 0.25em 0;*/
  padding: 0.25em 40px;
  line-height: 25px;
  position: relative;
  color: #383838;
}

/* iPhone, Android rules here */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .kaption h4 {
    margin-left: -220px;
  }
  .kaption h5 {
    margin-left: -220px;
  }
  .kaption p {
    float: left;
    /*margin-top: 200px;*/
    margin-left: -250px;
  }
  .grayscale img {
    visibility: hidden;
  }
  .dashed {
    display: none;
  }
  .image-wrapper {
    margin-left: -300px;
  }
  .image-wrapper img {
    visibility: hidden;
  }
  .kaption h6 {
  margin: auto;
 }
  .kaption ul {
    margin-left: -170px;
  }
}


.kaption ul li {
  font-family: Droid serif, sans-serif;
  font-size: 16px;
  line-height: 25px;
}

.kaption h5 {
  font-style: italic;
  color: gray;
}

.image-wrapper {
  width:  170px;
  height: 170px;
  border-right: dashed gray 1px;
}

.grayscale img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+, IE10 
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

.grayscale img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
    margin-right: 15px;
}

/*.gallery {
  width: auto;
  height: auto;
  margin-left: 55px;
  margin-top: 1160px;
}*/

.gallery {
  background-image: url(bgd/bg32.jpg);
}

.gallery img {
  width: 253px;
  height: 180px;
  padding: 3px;
  border: solid 5px #fff;
  display: inline;
  /*margin-left: 70px;*/
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  /*box-orient: horizontal;*/
  /*float: left;*/
  /*margin-right: -15px;*/
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  background-image: url(bgd/bg32.jpg);
}

.gallery img:hover {
  -webkit-transform: scale(3.5);
  -moz-transform: scale(3.5);
  -o-transform: scale(2.5);
  transform: scale(3.5);
  margin-top: -750px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.ads1 {
  width: 265px;
  height: 250px;
  display: inline-block;
  /*padding-right: 2px;*/
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd33.png);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads1:hover {
 opacity: .5;
}

.ads1 h2 {
  text-align: center;
  color: white;
  margin-top: 30%;
}

.ads1 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads2 {
  width: 265px;
  height: 250px;
  display: inline-block;
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd41.png);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads2:hover {
 opacity: .5;
}

.ads2 a:hover {
  text-decoration: none;
}

.ads2 h2 {
  font-family: Droid Serif, Serif;
  text-align: center;
  color: white;
  margin-top: 30%;
}

.ads2 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads3 {
  width: 265px;
  height: 250px;
  display: inline-block;
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd37.jpg);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads3:hover {
 opacity: .5;
}

.ads3 a:hover {
  text-decoration: none;
}

.ads3 h2 {
  text-align: center;
  color: white;
  margin-top: 30%;
}

.ads3 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads4 {
  width: 265px;
  height: 250px;
  display: inline-block;
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd27.jpg);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads4:hover {
 opacity: .5;
}

.ads4 a:hover {
  text-decoration: none;
}

.ads4 h2 {
  text-align: center;
  color: white;
  margin-top: 30%;
}

.ads4 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads5 {
  width: 265px;
  height: 250px;
  display: inline-block;
  /*padding: 3px;*/
  position: relative;
  border: solid 2px white;
  background-image: url(bgd36.jpg);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads5 img {
  width: 250px;
}

.ads5 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads6 {
  width: 265px;
  height: 250px;
  display: inline-block;
  padding: 3px;
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd21.jpg);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads6 img {
  width: 250px;
}

.ads6 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}

.ads7 {
  width: 265px;
  height: 250px;
  display: inline-block;
  /*padding: 3px;*/
  position: relative;
  border: solid 2px white;
  background-image: url(bgd/bgd17.jpg);
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.ads7 img {
  width: 250px;
}

.ads7 p {
  position: relative;
  text-align: center;
  font-family: Droid Serif, Serif;
  font-size: 12pt;
  color: white;
  margin-left: 25px;
  margin-right: 25px;
}


/* videoshelf page */

/*.videos {
  width: auto;
  height: auto;
  position: relative;
  display: inline-block;
  margin-top: auto;
  margin-left: auto;
  padding: 35px 5px 15px 5px;
  border: solid 2px red;
  background-image: url(bgd/bgd1.jpg);
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}*/


/**
------------------------------------------------------------
| BACKEND PAGE                                             | 
------------------------------------------------------------
**/



/**
------------------------------------------------------------
| POSTS PAGE                                               |
------------------------------------------------------------
**/

.sup {
  margin-top: 255px;
  margin-left: 125px;
  position: relative;
  width: 700px;
  height: auto;
  border: solid #ababab 0.5px;
  padding: 45px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  background-color:#ababab;
  /*background-position: center;*/
  background-image: -moz-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -webkit-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -o-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -ms-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: linear-gradient(90deg, #ababab, #e6e4e1 35px)
}

.search-container {
  width: 2547px;
  height: 150px;
  margin-top: -230px;
  margin-left: -743px;
  margin-bottom: 30px;
  padding-top: -60px;
  background: #333333;
  background: rgb(255, 116, 0);
  background: -moz-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -webkit-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -o-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -ms-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: linear-gradient(357deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
}

.search-button {
  margin-top: 50px;
  margin-left: -5px;
  -moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
  -webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
  box-shadow:inset 0px 1px 0px 0px #fff6af;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
  background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
  background-color:#ffec64;
  -moz-border-radius:   0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  border-radius:        0 5px 5px 0;
  display:inline-block;
  color:#333333;
  font-family: 'Palatino', sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:10px 20px;
  text-decoration:none;
  text-shadow:1px 1px 0px #ffee66;
}

.search-button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
  background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
  background-color:#ffab23;
}

.search-container .search-query {
  width: 220px;
  height: 30px;
  margin-top: 50px;
  margin-left: 1040px;
  padding: 4px 9px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: 1;
  color: #ffffff;
  color: rgba(255, 255, 255, 0.75);
  /*background: #666;*/
  /*background: rgba(255, 255, 255, 0.3);*/
  border: 2px solid gray;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 0px rgba(255, 255, 255, 0.15);
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.search-container.search-query :-moz-placeholder {
  color: #eeeeee;
}
.search-container .search-query::-webkit-input-placeholder {
  color: #eeeeee;
}
.search-container .search-query:hover {
  color: #ffffff;
  background-color: #999999;
  background-color: rgba(255, 255, 255, 0.5);  
  /*width: 160px;*/
}

.search-container .search-query:focus, .search-query.focused {
  padding: 5px 10px;
  color: #333333;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #ffffff;
  border: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  outline: 0;
}

.actions2 {
  margin-left: 20px;
  margin-top: 10px;
}

.blog-container {
  margin-top: 300px;
  margin-left: 50px;
  position: relative;
  width: 910px;
  height: auto;
  /*border: solid #ababab 5px;*/
  /*padding: 45px;*/
  -webkit-border-radius: 0px 0px 7px 7px;
  -moz-border-radius: 0px 0px 7px 7px;
  border-radius: 0px 0px 7px 7px;
  /*background-color:#ababab;*/
  /*background-position: center;*/
  /*background-image: -moz-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -webkit-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -o-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -ms-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: linear-gradient(90deg, #ababab, #e6e4e1 35px)*/
}

.comment {
  width: 948px;
  height:auto;
  position: relative;
  border: solid 2px gray;
  padding: 25px;
  margin-top: -160px;
  margin-bottom: -100px;
  margin-left: -95px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  text-align: justify;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: baseline;
  border: solid 5px blue;

}

.comment .topbar {
  width: 968px;
  height:auto;
  position: relative;
  /*border: solid 3px red;*/
  background-color: #87CEEB ;
  padding: 15px;
  margin-top: -25px;
  margin-left: -25px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  text-align: justify;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: baseline;

}

#count {
  float: left;
}

.topbar h4 {
  font-family: 'Palatino', sans-serif;
  color: white;
  font-style: italic;
}


.blog {
  width: 1000px;
  height: auto;
  position: relative;
  margin-top: 20px;
  /*-webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;*/
 /* display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-align-items: baseline;*/
}

.blog h2 {
  font-family: Droid Serif, sans-serif;
  font-size: 1.5em;
  color:#27408B;
  text-align: center;
}

.blog p {
  font-family: Droid Serif, sans-serif;
  font-size: 1.1em;
  /*text-align: left;*/
  line-height: 150%
}

#blog2 {
  width: 1000px;
  height: auto;
  /*border: solid 1px gray;*/
  padding: 15px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  overflow: hidden;
  margin-top: -10px;
  margin-bottom: 80px;
}

/*#sidemenulinks {
  width: 170px !important;
  height: 25px;
  padding: 5px 20px 5px 5px;
  border: solid 1px gray;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}*/

#postDate  {
 text-align: center;
 font-family: Droid Serif;
}

#postDate h1 {
  font-size: 1.6em;
  font-family: Droid Serif;
}

#postDate h4  {
  color: gray;
  font-family: Droid Serif, Serif;
}

#postDate h5 {
  color: gray;
  font-family: Droid Serif, Serif;
  float: right;
}

.straightLine {
  border: solid 1.5px 'Snow';
  width: auto;
}

.markitup {
  background-color: black;
  font-family: Droid Serif, serif;
  color: lime;
}

#readButton {
  width: 200px;
  height: 40px;
  border: solid 2px 'Snow';
  text-align: center;
  padding-top: 10px;
  float: left;
  color: white;
  background-image: url(bgd/bgd17.jpg);
}

#readButton:hover {
  opacity: 0.3;
}




/*-----------------------------------------------------------
 |                     BOOKS PAGE                           |
 -----------------------------------------------------------*/

.container2 {
  width: 100%;
  margin-left: -700px;
  margin-top: 400px;
  margin-right: auto;
  *zoom: 1;
  background: rgb(255, 116, 0);
  background: -moz-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -webkit-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -o-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: -ms-linear-gradient(267deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  background: linear-gradient(357deg, rgb(255, 116, 0) 60%, rgb(0, 0, 56) 100%);
  /*-webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;*/
  -webkit-box-shadow: -1px -4px 20px rgba(118, 123, 134, 0.47);
  -moz-box-shadow:    -1px -4px 20px rgba(118, 123, 134, 0.47);
  box-shadow:         -1px -4px 20px rgba(118, 123, 134, 0.47);
  /*border: solid 5px red;*/
}

.book {
  width: 100px;
  height: 200;
  margin-left: -100px;
  margin-right: 180px;
  padding: 10px;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: solid 2px;
  box-orient: horizontal;
  overflow: hidden;
  /*box-shadow: 10px 10px 10px 10px #000;*/
  background-image: url(bgd/bgd21.jpg);
  background-repeat: repeat-x repeat-y;
  /*background-position: bottom;*/
  background-size: 100% 45px;
  /*background-color: #1A1A1A;*/
  }

.photos {
  width: 1600px;
  margin-left: 5px;
  padding: 5px;
  position: relative;
  border-collapse:collapse;
  display: -webkit-flex;
  -webkit-flex-flow: column;
  -webkit-flex-align-items: baseline;
  -webkit-flex-direction: row;
  display: flex;
  flex-flow: column;
  lex-align-items: baseline;
  flex-pack: distribute;
  flex-direction: row;
}

.photos img {
  width: 128px;
  height: 194px;
  margin-left: -25px;
  padding: 5px;
  position: relative;
}

.fire-photos img {
  width: 128px;
  height: 194px;
  margin-left: -15px;
  margin-right: 45px;
  padding: 5px;
  position: relative;
}

.libheader  p {
  width: 88.9%;
  height: auto;
  display:inline-block;
  background: rgb(123, 53, 0);
  background: -moz-linear-gradient(273deg, rgb(123, 53, 0) 100%, rgb(0, 0, 0) 0%);
  background: -webkit-linear-gradient(273deg, rgb(123, 53, 0) 100%, rgb(0, 0, 0) 0%);
  background: -o-linear-gradient(273deg, rgb(123, 53, 0) 100%, rgb(0, 0, 0) 0%);
  background: -ms-linear-gradient(273deg, rgb(123, 53, 0) 100%, rgb(0, 0, 0) 0%);
  background: linear-gradient(3deg, rgb(123, 53, 0) 100%, rgb(0, 0, 0) 0%);
  color:#aaa;
  font-family: Droid Serif, serif;
  font-size:16px;
  line-height: 24px;
  padding:32px 76px;
  font-style: italic;
}

.container3 {
  width: 1600px;
  margin: 570px auto;
  *zoom: 1;
  background-image: url(bgd/bgd8.jpg);
  -webkit-box-shadow: -1px -4px 20px rgba(118, 123, 134, 0.47);
  -moz-box-shadow:    -1px -4px 20px rgba(118, 123, 134, 0.47);
  box-shadow:         -1px -4px 20px rgba(118, 123, 134, 0.47);
  /*border: solid 5px black;*/
}  

.hrline {
  width: 100%;
  /*padding: auto;*/
  margin-left: -40px;
  margin-right: 50px;
}

.actions {
  margin-left: 650px;
  margin-top: 175px;
}

.actions2 {
  margin-left: 20px;
  margin-top: 10px;
}


/**
-------------------------------------------------------------
|           VIDEOSHELF & PORTFOLIO PAGES                     |
-------------------------------------------------------------
**/


.media-unit {
  width: 1475px;
  height: auto;
  margin-bottom: 8px;
  margin-top: 90px;
  margin-left: -124px;
  padding: 15px 24px;
  /*background-color: #333333;*/
  background-image: url(bgd/bgd44.png);
  -webkit-border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}

.media-unit h3 {
  padding-top: 50px;
  margin-bottom: 0;
  font-size: 30px;
  font-family: Droid Serif;
  color: #FDFDF0;
  line-height: 1;
  letter-spacing: -1px; 
}

.media-unit p {
  font-size: 14px;
  /*font-weight: 200;*/
  /*font-style: italic;*/
  color: #FDFDF0;
  line-height: 25px;
}

.videos {
  width: 1490px;
  height: auto;
  position: relative;
  display: inline-block;
  margin-top: -7px;
  margin-left: -153px;
  padding: 30px 5px 10px 25px;
  background-image: url(bgd/bgd1.jpg);
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}


.portfolio {
  width: 1492px;
  height: auto;
  margin-top: -5px;
  margin-left: -153px;
  padding: 30px 5px 10px 25px;
  /*border: solid 2px red;*/
  background-image: url(bgd/bgd1.jpg);  
  -webkit-border-radius: 0 0 7px 7px;
  -moz-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
}

.movie {
  width: 260px;
  height: auto;
  /*background: white;*/
  border: solid 1px white;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
}

/*.movie:hover {
  -webkit-box-shadow: -1px -4px 20px rgba(118, 123, 134, 0.47);
  -moz-box-shadow:    -1px -4px 20px rgba(118, 123, 134, 0.47);
  box-shadow:         -1px -4px 20px rgba(118, 123, 134, 0.47);
}*/

.videos .caption p {
 font-family: Droid Serif, serif;
 color: white;
}

.videos .caption h5 {
 font-family: Droid Serif, serif;
 color: white;
}

.portfolio .caption p {
 font-family: Droid Serif, serif;
 color: white;
}

.portfolio .caption h5 {
 font-family: Droid Serif, serif;
 color: white;
}


/** 
------------------------------------------------------------
|                      DEVISE PAGES                        |
------------------------------------------------------------
**/

.sup {
  margin-top: 120px;
  margin-left: 125px;
  position: relative;
  width: 700px;
  height: auto;
  border: solid #ababab 0.5px;
  padding: 45px;
  -webkit-border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  border-radius: 7px 7px 7px 7px;
  background-color:#ababab;
  /*background-position: center;*/
  background-image: -moz-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -webkit-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -o-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: -ms-linear-gradient(90deg, #ababab, #e6e4e1 35px);
  background-image: linear-gradient(90deg, #ababab, #e6e4e1 35px)
}


.sign-header{
  width: 788px;
  height: 80px;
  margin-top: -45px;
  margin-left: -44px;
  margin-bottom: 15px;
  padding-top: 20px;
  padding-bottom: 5px;
  /*padding-left: 60px;*/
  /*border: solid 5px blue;*/
  -webkit-border-radius: 7px 7px  0 0;
  -moz-border-radius: 7px 7px  0 0;
  border-radius: 7px 7px  0 0;
  background-image: url(bgd/bgd36.jpg);
}

.sign-header p {
  font-family: Droid Serif, Serif;
  font-size: 24px;
  color: #7F7F7F;
  text-align: center;
}

.sign-header h4 {
  margin-top: -10px;
  font-family: Droid Serif, Serif;
  color: #7F7F7F;
  text-align: center;
}

#field {
  margin-left: 650px;
  margin-top: 100px;
}

/* FOOTER SECTION 
------------------------------------------------------------*/

.wrapper {
  width: 100%;
  height: 450px;
  margin-top: auto;
  margin-bottom: 15px;
  background-color: #000;
   -moz-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}

#footer-topper {
  width: 260px;
  height: 22px;
  position: relative;
  padding: 25px 9px 12px 9px;
  margin-left: -8px;
  margin-top: -8px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: solid white 1px;
  background-image: url(bgd/bgd47.jpg);
}

.footer-links {
  width: 250px;
  height: 380px;
  padding: 3px;
  position: relative;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

@media only screen and (max-width:480px) {
  .wrapper {
    background-color: #fff;
  }
  .footer-links {
    background-color: #000;
   }
   #footer-topper {
    width: 242px;
   }
}

.footer-links h4 {
  font-family: Droid Serif, Serif;
  text-align: center;
  /*color: #F8F8FF;*/
  margin-top: 2%;
}

.footer-links > link {
  font-family: Droid Serif, Serif;
  float: left;
  color: white;
}

.footer-links ul {
  list-style-type:none;
  margin-left: 30px;
}

.footer-links li span {
  font-family: Droid Serif, Serif;
  color: white;
  display:inline-block;
  margin-left: 15px;
  vertical-align: middle;
}

.footer-links img:hover {
  -webkit-transform: rotate(360deg) scale(1.5);
  -webkit-transition: all 0.5s linear;
  -moz-transform: rotate(360deg) scale(1.5);
  -moz-transition: all 0.5s linear;
  -o-transform: rotate(360deg) scale(1.5);
  -o-transition: all 0.5s linear;
  transform: rotate(360deg) scale(1.5);
  transition: all 0.5s linear;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.social-wrapper  {
  width: 100%; /* 2547px; */
  height: 60px;
  display: inline;
  margin-top: 5px;
  margin-bottom: -100px;
  /*margin-left: 1220px;*/
  padding-top: 25px;
  background-image: url(bgd/bgd32.jpg);
}

#icons {
  width: 300px;
  height: auto;
  margin-left: 35%;
  margin-top: -10px;
  padding-left: 50px;
  padding-top: -15px;
}

#icons h3 {
  font-family: Droid Serif, Serif;
  color: #fff;
}

#icons img {
  width: 50px;
  height:50px;
  /*padding: 6px;*/
  /*border-radius: 90px;*/
  /*background-color: #473C8B;*/
  /*margin-top: 30px;*/
  margin-left: 4px;
  opacity: .4;
}

#icons img:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -ms-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.signature-wrapper {
  width: 2575px;
  height: 25px;
  display: inline;
  margin-top: 20px;
  margin-bottom: -40px;
  margin-left: -720px;
  padding-top: 50px;
  background-image: url(bgd/bgd36.jpg);
}

.signature-wrapper p {
  text-align: center;
}

